.qftblock  img 
{
	width:16px;
	height:auto;
}
.qftblock .qft-form img 
{
	content:url(images/form.png);
}
.qftblock .qft-textfield img 
{
	content:url(images/textfield.png);
}
.qftblock .qft-textarea img 
{
	content:url(images/textarea.png);
}
.qftblock .qft-button img 
{
	content:url(images/button.png);
}
.qftblock .qft-checkbox img 
{
	content:url(images/checkbox.png);
}
.qftblock .qft-radiobutton img 
{
	content:url(images/radiobutton.png);
}
.qftblock .qft-listmenu img 
{
	content:url(images/listmenu.png);
}
.qftblock .qft-imagefield img 
{
	content:url(images/imagefield.png);
}
.qftblock .qft-filefield img 
{
	content:url(images/filefield.png);
}
.qftblock .qft-hiddenfield img 
{
	content:url(images/hiddenfield.png);
}
.qftblock .qft-link img 
{
	content:url(images/link.png);
}
.qftblock .qft-html5page img 
{
	content:url(images/html5page.png);
}
.qftblock
{
	height:30px;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#5d5f60;
}
.qftblock:focus 
{
    outline: none;
}

.qftblock ul
{
	text-align: left;
	margin: 0;
	padding:0;
	list-style: none;
	padding:1px 0 0 0;
	clear:both;
}
.qftblock ul li 
{
	display: inline-block;
	cursor: pointer;
	transition: all 0.2s;
	float:left;
	color: #fff;
	border:1px rgba(85, 85, 85, 0.5) solid;
	border-width:0 0 0 2px;
}
.qftblock ul li:hover 
{
	color: #fff;
}
.qftblock ul li ul 
{
	padding: 0;

	display: block-inline;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s;
}
.qftblock ul li ul li 
{
	border:0;
	font-size:12px;
	display: block; 
	color: #fff;
	float:left;
	padding:4px 10px;
}
.qftblock ul li:hover ul li 
{
	color:#fff;
}
.qftblock ul li ul li:hover
{
	background: #666;
}
.qftblock ul li:hover ul 
{
	display: block;
	opacity: 1;
	visibility: visible;
}

